.floatBar{
    z-index: 10000;
    line-height: 1em;
}

.searchIcon{
    width: 32px;
    height: 32px;
}

.soundIcon{
    width: 20px;
    height: 20px;
}

.floatBar .dictionary-wrap.dictionary-wrap-f {
    width: 500px;
    position: relative;
    zoom: 1;
    border: 0;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    border-radius: 15px;
    margin-top: 0px;
    text-align: left;
}

.floatBar a:link, .floatBar a:visited, .floatBar a:hover{
    border-bottom: none;
}

.floatBar .output-mod {
    border: 1px solid #eee;
    border-left: 0;
    padding: 0;
}

.floatBar .dictionary-wrap.dictionary-wrap-f .simple-dict-f.simple-dict-f-nimg {
    border-radius: 15px;
    min-height: 50px;
}

.floatBar .dictionary-wrap.dictionary-wrap-f .simple-dict-f {
    border: 1px solid #eee;
    padding: 17px 31px 15px;
    background-color: #fff;
}

.floatBar .output-bd {
    font-family: Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, noto-fanyi !important;
    width: 100%;
}

.floatBar .dictionary-wrap .dictionary-output {
    margin-bottom: 0;
    font-size: 14px;
    color: #333;
}

.floatBar .dictionary-wrap .dictionary-title {
    overflow: hidden;
    word-wrap: break-word;
}

.floatBar .dictionary-wrap .strong {
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    line-height: 22px;
    color: #333;
    margin-right: 10px;
    background-color: white;
    text-shadow: none;
}

.floatBar .dictionary-wrap .dictionary-spell {
    color: #333;
    margin-top: 9px;
    overflow: hidden;
}

.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription:first-child {
    margin-right: 20px;
}

.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription {
    font-size: 14px;
    display: inline-block;
}

.floatBar .dictionary-wrap.dictionary-wrap-f .simple-dict-f .dictionary-comment {
    margin-bottom: 0;
}

.floatBar .dictionary-wrap .dictionary-comment p b~.dict-comment-mean {
    padding-left: 30px;
}

.floatBar .dictionary-wrap .dictionary-comment p .dict-comment-mean {
    display: block;
    font: 14px/22px Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.floatBar .dictionary-wrap .dictionary-comment p b {
    float: left;
    font: 12px/22px Arial;
    color: #888683;
}

.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription span,
.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription b,
.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription a {
    display: inline-block;
    vertical-align: middle;
}

.floatBar .dictionary-wrap .simple-dict .op-sound {
    margin-right: 3px;
}

.floatBar .op-sound {
    width: 21px;
    height: 21px;
    padding: 1px 0 0 7px;
}

.floatBar .op-sound,
.floatBar .op-favo,
.floatBar .op-copy,
.floatBar .op-correct {
    display: inline-block;
    margin-right: 18px;
    vertical-align: top;
    margin-top: 0px;
}

.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription span {
    margin-right: 5px;
    font: 700 14px Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}

.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription span,
.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription b,
.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription a {
    display: inline-block;
    vertical-align: middle;
}

.floatBar .icon-sound {
    background-repeat: no-repeat;
    background-image: url(https://fanyi-cdn.cdn.bcebos.com/static/translation/sprite/images/normal/index-sc413d90635_65ba9b0.png);
    background-position: 0 -1046px;
    height: 17px;
    width: 19px;
}

.floatBar .op-sound-active,
.floatBar .op-sound-active:hover {
    width: 31px;
    height: 21px;
    margin-right: 15px;
    background-image: url(https://fanyi-cdn.cdn.bcebos.com/static/translation/img/translate/output/sound2x_d6f553d.gif);
    background-image: url(https://fanyi-cdn.cdn.bcebos.com/static/translation/img/translate/output/sound1x_a31f763.gif) \9;
    -webkit-background-size: 22px 21px;
    -moz-background-size: 22px 21px;
    background-size: 22px 21px;
    background-repeat: no-repeat;
    background-position: 7px -2px;
    padding: 0;
}

.floatBar .dictionary-wrap .simple-dict .op-repeat {
    width: 22px;
    height: 22px;
    padding-left: 2px;
    position: relative;
}

.floatBar .floatBar a:hover {
    text-decoration: none;
}

.floatBar a {
    text-decoration: none;
    color: #666;
}

.floatBar .sound-btn{
    margin-top: 2px;
}

.floatBar .icon-repeat {
    background-repeat: no-repeat;
    background-image: url(https://fanyi-cdn.cdn.bcebos.com/static/translation/sprite/images/normal/index-sc413d90635_65ba9b0.png);
    background-position: 0 -887px;
    height: 19px;
    width: 19px;
}

.floatBar .dictionary-wrap .dictionary-exchange {
    margin-top: 20px;
    line-height: 22px;
    overflow: hidden;
}

.floatBar .dictionary-wrap .dictionary-exchange>p {
    display: inline-block;
}

.floatBar .dictionary-wrap .dictionary-exchange .word-can-trans {
    margin-right: 15px;
    font-size: 13px;
    font-family: Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    display: inline-block;
}

.floatBar .dictionary-wrap .dictionary-exchange span a {
    margin-right: 5px;
    color: #4395ff;
}

.floatBar .dictionary-wrap .dictionary-derivative {
    line-height: 23px;
    font-size: 13px;
}

.floatBar .dictionary-wrap .dictionary-derivative .dr-item {
    display: inline-block;
    margin-right: 13px;
}

.floatBar .dictionary-wrap .dictionary-derivative .dr-item span {
    margin-right: 4px;
}

.floatBar .f-link {
    color: #4395ff;
    text-decoration: underline;
}

.floatBar .dictionary-wrap .dictionary-comment p {
    font-size: 14px;
    font-family: Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    line-height: 22px;
    color: #333;
}

.floatBar body,
.floatBar div,
.floatBar dl,
.floatBar dt,
.floatBar dd,
.floatBar ul,
.floatBar ol,
.floatBar li,
.floatBar h1,
.floatBar h2,
.floatBar h3,
.floatBar h4,
.floatBar h5,
.floatBar h6,
.floatBar pre,
.floatBar code,
.floatBar form,
.floatBar fieldset,
.floatBar legend,
.floatBar input,
.floatBar textarea,
.floatBar p,
.floatBar blockquote,
.floatBar th,
.floatBar td {
    margin: 0;
    padding: 0;
}

.floatBar .dictionary-wrap .dictionary-comment {
    margin-top: 7px;
    margin-bottom: 14px;
}

.floatBar .dictionary-wrap .dictionary-derivative .dr-item .dr-p {
    color: #999;
    margin-left: -1px;
}

.floatBar .dictionary-wrap.dictionary-wrap-f .simple-dict-f .dictionary-bottom {
    margin-top: 13px;
    padding-top: 13px;
    border-top: 1px solid #eee;
}

.floatBar .dictionary-wrap .dictionary-memory {
    line-height: 23px;
    font-size: 13px;
}

.floatBar .dictionary-wrap.dictionary-wrap-f .simple-dict-f .dictionary-bottom .dictionary-memory+.dictionary-tags {
    margin-top: 9px;
}

.floatBar .dictionary-wrap .dictionary-tags li {
    display: inline-block;
    color: #999;
    font-size: 12px;
    padding: 0 6px;
    background: #f2f2f2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    margin-right: 12px;
    margin-bottom: 10px;
}

.floatBar .dictionary-wrap .dictionary-spell .phonetic-transcription b {
    display: inline;
    font-weight: 400;
    font: 14px Arial;
    color: #333;
    vertical-align: middle;
    line-height: 22px;
}

.floatBar .dictionary-wrap .dictionary-comment p .dict-comment-mean .dict-margin {
    margin-right: 10px;
}